/* _feature-item.css */

.feature-item {
    position: relative; /* for icon position: absolute. */
    padding-bottom: 2.5rem;

    @mixin atSmall {
        padding-left: 94px;
    }

    &__icon {
        display: block;
        margin: 0 auto; /* center */
        @mixin atSmall { /* place text on left of text. */
            position: absolute;
            left: 0;
        }
    }

    &__title { /* Default of Tiny. */
        /* background-color: red; /* Testing. */
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 0.8rem;
        margin-top: 0.7em;
        text-align: center;

        @mixin atSmall { /* Small or greater. */
            font-size: 1.875rem; /* 30/16 */
            margin-top: 1em;
            text-align: left;
        }
    }
}