/* _page-section.css */

.page-section { /* For each section, add top and bottom padding. */

    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0; /* top/bottom no side padding. */
    }

    &--no-padding-b-until-medium {
        padding-bottom: 0;

        @mixin atMedium {
            padding-bottom: 4.5rem;
        }

    }

    &--bkg-blue, &--blue-background, &--blue {
        background-color: $blueMain;
        color: $white;
    }

    &--testimonials {
        background-color: $blueLight;

        @mixin atMedium {
            background: url('./assets/images/testimonials-bg.jpg') top center no-repeat;
            background-size: cover;
        }

    }

}