/* _section-title.css */

.section-title { /* Tiny. */
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;

    strong {
        font-weight: 500;
    }

    @mixin atSmall {
        font-size: 3.75rem; /* 60/16 */
    }

    &__icon {
        display: block; /* force text to new line. */
        margin-bottom: 0.6rem; /* leave top margin unchanged. */
        margin-left: auto; /* margin: 0 auto; also resets top margin to 0. */
        margin-right: auto;
        /* margin: 0 auto 0.6rem auto; /* Overwrites top margin. */

        @mixin atSmall {
            display: inline-block; /* keep on same line as text. */
            margin-bottom: 0; /* reset not needed as text is always taller than icon. */
            margin-left: 0;
            margin-right: 0.5rem; 
            /* margin: 0 0.5rem 0 0; /* Overwrites top margin. */
            position: relative; /* push down. */
            top: 10px;          /* push down. */
        }
    }

    &--text-blue {
        color: $blueMain;
    }

    &--less-margin {
        margin-bottom: 1.3rem;
        margin-top: 0;
    }

}